{% trans_default_domain('Profile') %}

{% extends('AppBundle::layout.html.twig') %}

{% form_theme form '@AppBundle/Resources/views/Form/fields.html.twig' %}

{% block title %}{{ app.user.firstName ~ " " ~ app.user.lastName|upper }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app/vendor/datepicker/datepicker.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/dist/js/collection-form.js') }}"></script>
    <script src="{{ asset('app/vendor/datepicker/datepicker.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('#picture').on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();

                $('#myModal').modal('show');
            });

            var fileInput = document.querySelector('#file');

            $('#submit').click(function (e) {
                e.preventDefault();

                var f = fileInput.files[0];

                if (!f.type.match('image/jpeg') && !f.type.match('image/png') && !f.type.match('image/gif')) {
                    alert('Le fichier n\'est pas une image');
                    return false;
                }

                var reader = new FileReader();

                reader.onload = handleReaderLoad;

                reader.readAsDataURL(f);
            });

            function handleReaderLoad(evt) {
                var img = {};
                img.file = evt.target.result.split(',')[1];

                var str = jQuery.param(img);

                $.ajax({
                    type: 'POST',
                    url: '{{ path('fos_user_profile_upload_picture') }}',
                    data: str,
                    success: function (data) {
                        console.log(data);
                    }
                });
            }

        });
    </script>
{% endblock %}

{% block content %}
    <div class="background-image background-desktop"></div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form id="picture_form" action="{{ path('fos_user_profile_upload_picture') }}" method="post"
              enctype="multipart/form-data">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'profile.upload_picture'|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <input id="file" type="file" name="picture">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancel"><i
                                    class="fa fa-ban"></i> {{ 'general.cancel'|trans }}</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="submit"><i
                                    class="fa fa-floppy-o"></i> {{ 'general.submit'|trans }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="box box-profile center-block">
                    <div class="box-thumbnail">
                        <img class="profile-thumbnail" id="picture" src="{{ asset('app/uploads/' ~ app.user.picture) }}" alt="profile">
                    </div>
                    <div class="box-body row">
                        <div class="col-md-12">
                            {{ form_errors(form) }}
                            {% include('AppBundle::flash-message.html.twig') %}
                        </div>
                        <div class="col-md-6">
                            <div class="profile-info">
                                <div class="profile-info-label"><i class="fa fa-user"></i> {{ 'profile.title'|trans }}
                                </div>
                                <div class="profile-info-data">
                                    {{ form_widget(form.title) }}
                                </div>
                            </div>
                            <div class="profile-info">
                                <div class="profile-info-label"><i
                                            class="fa fa-phone"></i> {{ 'profile.birthDate'|trans }}</div>
                                <div class="profile-info-data">
                                    {{ form_widget(form.birthDate) }}
                                </div>
                            </div>
                            <div class="profile-info full-name">
                                <div class="profile-info-label"><i
                                            class="fa fa-user"></i> {{ 'profile.full_name'|trans }}</div>
                                <div class="profile-info-data">
                                    {{ form_widget(form.last_name) }}
                                    {{ form_widget(form.first_name) }}
                                </div>
                            </div>
                            <div class="profile-info">
                                <div class="profile-info-label"><i
                                            class="fa fa-envelope-o"></i> {{ 'profile.email'|trans }}</div>
                                <div class="profile-info-data">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="profile-info">
                                <div class="profile-info-label"><i
                                            class="fa fa-phone"></i> {{ 'profile.phone_number'|trans }}</div>
                                <div class="profile-info-data">
                                    {{ form_widget(form.phone_number) }}
                                </div>
                            </div>
                            {% if app.user.type == 'professional' %}
                                <div class="profile-info">
                                    <div class="profile-info-label"><i
                                                class="fa fa-briefcase"></i> {{ 'profile.profession'|trans }}</div>
                                    <div class="profile-info-data">
                                        {{ form_widget(form.profession) }}
                                    </div>
                                </div>
                                <div class="profile-info">
                                    <div class="profile-info-label"><i
                                                class="fa fa-graduation-cap"></i> {{ 'profile.specialization'|trans }}
                                    </div>
                                    <div class="profile-info-data">
                                        {{ form_widget(form.specialization) }}
                                    </div>
                                </div>
                                <div class="profile-info">
                                    <div class="profile-info-label"><i
                                                class="fa fa-flag-o"></i> {{ 'profile.language'|trans }}</div>
                                    <div class="profile-info-data">
                                        {{ form_widget(form.language) }}
                                    </div>
                                </div>
                                <div class="profile-info educations">
                                    <div class="profile-info-label"><i
                                                class="fa fa-stumbleupon-circle"></i> {{ 'profile.education'|trans }}
                                    </div>
                                    <div class="profile-info-data">
                                        {{ form_widget(form.educations) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="profile-info">
                                <div class="profile-info-label"><i
                                            class="fa fa-street-view"></i> {{ 'profile.location.street'|trans }}</div>
                                <div class="profile-info-data">
                                    {{ form_widget(form.location.street) }}
                                </div>
                            </div>
                            <div class="profile-info city">
                                <div class="profile-info-label"><i
                                            class="fa fa-map-marker"></i> {{ 'profile.location.city'|trans }}</div>
                                <div class="profile-info-data">
                                    {{ form_widget(form.location.postal_code) }}
                                    {{ form_widget(form.location.city) }}
                                </div>
                            </div>
                            <div class="profile-info">
                                <div class="profile-info-label"><i
                                            class="fa fa-globe"></i> {{ 'profile.location.country'|trans }}</div>
                                <div class="profile-info-data">
                                    {{ form_widget(form.location.country) }}
                                </div>
                            </div>
                            {% if app.user.type == 'professional' %}
                                <div class="profile-info">
                                    <div class="profile-info-label"><i
                                                class="fa fa-building-o"></i> {{ 'profile.company'|trans }}</div>
                                    <div class="profile-info-data">
                                        {{ form_widget(form.company) }}
                                    </div>
                                </div>
                                <div class="profile-info honorary">
                                    <div class="profile-info-label"><i class="fa fa-shopping-cart"></i>
                                        {{ 'profile.honorary'|trans }} (
                                        {{ form_widget(form.honorary_type) }}
                                        )
                                    </div>
                                    <div class="profile-info-data">
                                        <div class="form-group">
                                            {{ form_widget(form.honorary_from) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.honorary_to) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-info disabled-access">
                                    <div class="profile-info-label"><i
                                                class="fa fa-wheelchair"></i> {{ 'profile.disabled_access.title'|trans }}
                                    </div>
                                    <div class="profile-info-data">
                                        <div class="form-group">
                                            {{ form_row(form.disabled_access, { 'label': 'nbsp' }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-info">
                                    <div class="profile-info-label"><i
                                                class="fa fa-info"></i> {{ 'profile.disabled_access.description'|trans }}
                                    </div>
                                    <div class="profile-info-data">
                                        {{ form_widget(form.access_indication) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-footer">
                        {{ form_widget(form._token) }}
                        {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-red' } }) }}
                    </div>
                    {{ form_end(form, { 'render_rest': false }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}