{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}Modifier mon profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app/vendor/datepicker/datepicker.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/dist/js/places_autocomplete.js') }}"></script>
    <script src="{{ asset('admin/dist/js/collection-form.js') }}"></script>
    <script src="{{ asset('app/vendor/datepicker/datepicker.js') }}"></script>
    <script src="{{ asset('app/dist/js/editProfile.js') }}"></script>

    <!-- Google JS Maps API Places -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initAutocomplete"></script>

    <script type="text/javascript">
        initAutocomplete();
    </script>

{% endblock %}

{% block content %}
    <div class="background-image background-bill"></div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% include('AppBundle::flash-message.html.twig') %}
                </div>
            </div>
            <h1 class="text-center">Modifier mon profil</h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 edit-profile">
                    {% include('UserBundle::Profile/tab.html.twig') %}
                    <div class="box box-no-border-radius-top">
                        <div class="box-body">
                            <div id="upload-picture">
                                {% if app.user.picture != '' %}
                                    <img id="upload-picture-image" src="{{ asset('app/uploads/' ~ app.user.picture) }}" alt="upload a picture">
                                {% else %}
                                    <img id="upload-picture-image" src="{{ asset('app/uploads/default-picture.png') }}" alt="upload a picture">
                                {% endif %}
                            </div>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <h3>Informations générales</h3>
                            {{ form_row(form.title) }}
                            {{ form_row(form.birthDate) }}
                            {{ form_row(form.first_name) }}
                            {{ form_row(form.last_name) }}
                            {{ form_row(form.email) }}
                            {% if is_granted("ROLE_PROFESSIONAL") %}
                                {{ form_row(form.language) }}
                            {% endif %}
                            {{ form_row(form.phone_number) }}
                            {% if is_granted("ROLE_PROFESSIONAL") %}
                                <h3>Honoraires</h3>
                                {{ form_row(form.honorary_type) }}
                                {{ form_row(form.honorary_from) }}
                                {{ form_row(form.honorary_to) }}
                                <h3>Profession</h3>
                                {{ form_row(form.profession) }}
                                {{ form_row(form.specialization) }}
                                <h3>Formation</h3>
                                {{ form_row(form.educations) }}
                                <h3>Activité actuelle</h3>
                                {{ form_row(form.company) }}
                                {{ form_row(form.companyDescription) }}
                                {{ form_row(form.linkedin) }}
                                {{ form_row(form.website) }}
                                <h3>Indication d'accès</h3>
                                {{ form_row(form.location) }}
                                {{ form_row(form.accessIndication) }}
                                {{ form_row(form.disabledAccess) }}
                                <h3>Préférence de paiement</h3>
                                {{ form_row(form.paymentMethod.method) }}
                                <h4>Informations de paiement</h4>
                                {{ form_row(form.paymentMethod.iban) }}
                                {{ form_row(form.paymentMethod.bic) }}
                                <h4>Adresse de facturation</h4>
                                {{ form_row(form.paymentMethod.location.street) }}
                                {{ form_row(form.paymentMethod.location.city) }}
                                {{ form_row(form.paymentMethod.location.postalCode) }}
                                {{ form_row(form.paymentMethod.location.country) }}
                                {{ form_row(form.paymentMethod.company) }}
                                {{ form_row(form.paymentMethod.name) }}
                            {% endif %}
                            {% if is_granted("ROLE_CUSTOMER") %}
                                <h3>Localisation</h3>
                                {{ form_row(form.location) }}
                            {% endif %}
                            {{ form_row(form.pictureUpload) }}
                            {{ form_row(form.save) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        $( function() {

            $.ajax({
                url: '/data/professions.json',
                dataType: "json",
                success: function(data){

                    $( "#professional_profession" ).autocomplete({
                        source: data,
                        minLength: 0,
                    } );

                    $("#professional_profession").bind('click', function(){ $(this).autocomplete("search"); } );

                }
            });

            $.ajax({
                url: '/data/specializations.json',
                dataType: "json",
                success: function(data){

                    $( "#professional_specialization" ).autocomplete({
                        source: data,
                        minLength: 0,
                    } );

                    $("#professional_specialization").bind('click', function(){ $(this).autocomplete("search"); } );

                }
            });

        } );

    </script>

{% endblock %}