{% trans_default_domain('Profile') %}

{% extends('AppBundle:Calendar:layout.html.twig') %}

{% block title %}{{ profile.firstName ~ " " ~ profile.lastName|upper }}{% endblock %}

{% block content %}
    <div class="background-image background-grey"></div>
    <div id="profile-general">
        <div class="container">
            <div class="container-fluid">
                {% if backUrl != '' %}
                    <a href="{{ path('search_index') }}?{{ backUrl }}" class="btn back-url"><span class="fa fa-chevron-left"></span> Retour</a>
                {% endif %}
                <div class="col-md-12">
                    {% include('AppBundle::flash-message.html.twig') %}
                    <div class="col-md-8 profile-left">
                        <div class="profile-top">
                            <div class="profile-picture">
                                <img src="{{ asset('app/uploads/' ~ profile.picture) }}" alt="">
                            </div>
                            <div class="profile-name">
                                <h2>{{ profile.title }} {{ profile.firstname }} {{ profile.lastname }}</h2>
                                <p class="profile-profession">
                                    <strong>
                                        {% if profile.profession == 'Avocat' %}
                                            {{ profile.profession }} / {{ profile.specialization }}
                                        {% else %}
                                            {{ profile.profession }}
                                        {% endif %}
                                    </strong>
                                </p>
                                {%  if profile.company != null %}
                                    <p class="profile-company">{{ profile.company }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <br />
                        <div class="profile-adress">
                            <p><strong><span class="fa fa-street-view"></span> Adresse</strong> : {{ profile.location.street }}, {{ profile.location.postalCode }} {{ profile.location.city }}</p>
                        </div>
                        {% if app.user is defined %}
                            <div class="profile-phone">
                                <p><strong><span class="fa fa-phone-square"></span> Téléphone</strong> : {{ profile.phoneNumber }}</p>
                            </div>
                        {% endif %}
                        <div class="profile-languages">
                            <p><strong><span class="fa fa-flag"></span> Langues parlées</strong> : {{ profile.language }}</p>
                        </div>
                        {% if profile.educations|length > 0 %}
                            <div class="profile-university">
                                <p>
                                    <strong><span class="fa fa-university"></span> Formation</strong> :
                                    {% for key, education in profile.educations %}
                                        {{ education }} {% if key+1 < profile.educations|length  %},{% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if profile.companyDescription != null %}
                            <div class="profile-company-description">
                                <p class="text-justify"><strong><span class="fa fa-building"></span> Description du cabinet</strong> : {{ profile.companyDescription }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 profile-right">
                        <div class="profile-mark">
                            <h3 class="text-left">Notation</h3>
                            <div class="profile-element">
                                <div class="profile-stars">
                                    {% if mark > 0 %}
                                        <div class="profile-star-value" style="width:{{ 35 * mark }}px;"></div>
                                    {% else %}
                                        <div class="profile-star-value" style="width:{{ 35 * 2.5 }}px;"></div>
                                    {% endif %}
                                </div>
                                <div class="mark-value">
                                    {% if markNumber != 1 %}
                                        {{ markNumber }} notes
                                    {% else %}
                                        1 note
                                    {% endif %}
                                </div>
                            </div>
                            {% if mark > 0 %}
                                <div id="marks-more">
                                    <div id="marks-more-button" class="profile-element collapsed" data-toggle="collapse" data-target="#marks-more-block" aria-expanded="false" >
                                        <span class="text-center">Voir plus<br><span class="fa fa-angle-down"></span></span>
                                    </div>

                                    <div id="marks-more-block" class="collapse" role="button" aria-haspopup="true" aria-expanded="false">
                                        <div class="profile-element">
                                            <div class="profile-stars">
                                                <div class="profile-star-value" style="width:{{ 35 * marks["criteria_1"] }}px;"></div>
                                            </div>
                                            <div class="mark-value">Accueil</div>
                                        </div>
                                        <div class="profile-element">
                                            <div class="profile-stars">
                                                <div class="profile-star-value" style="width:{{ 35 * marks["criteria_2"] }}px;"></div>
                                            </div>
                                            <div class="mark-value">Accessibilité</div>
                                        </div>
                                        <div class="profile-element">
                                            <div class="profile-stars">
                                                <div class="profile-star-value" style="width:{{ 35 * marks["criteria_3"] }}px;"></div>
                                            </div>
                                            <div class="mark-value">Présentation</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="profile-price">
                            <h3 class="text-left">Paiement</h3>
                            <p>
                                <strong><span class="fa fa-suitcase"></span> Type d'honoraires</strong> :
                                {% if profile.honoraryType == 'DOS' %} dossier {% else %} horaire {% endif %}
                            </p>
                            <p><strong><span class="fa fa-money"></span> Honoraires</strong> : {{ profile.honoraryFrom }} - {{ profile.honoraryTo }} €</p>
                        </div>
                        {% if profile.linkedin != null and profile.website != null %}
                            <div class="profile-link">
                                <h3 class="text-left">Liens</h3>
                                <p><strong><span class="fa fa-linkedin-square"></span> <a href="http://{{ profile.linkedin|replace({'http://': ''})}}">Linkedin</a></strong></p>
                                <p><strong><span class="fa fa-chrome"></span> <a href="http://{{ profile.website|replace({'http://': ''})}}">Site internet</a></strong></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if app.user is empty or is_granted("ROLE_CUSTOMER") or (is_granted("ROLE_PROFESSIONAL") and app.user.id == profile.id) %}
        <div id="profile-calendar">
            <div class="container">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div id="calendar" class="calendar-profile"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="profile-location">
        <div class="container">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div id="map"></div>
                    {% if profile.disabledAccess %}
                        <br>
                        <p><strong><span class="fa fa-wheelchair"></span> Accès handicapé</strong></p>
                    {% endif %}
                    {% if profile.accessIndication != null %}
                        <br>
                        <p class="text-justify"><strong><span class="fa fa-blind"></span> Indication d'accès</strong> : {{ profile.accessIndication }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&key={{ google_api_key }}&v=3"></script>
    <script src="{{ asset('app/dist/js/profile.js') }}"></script>
    <script type="text/javascript">
        initMap({{ profile.location.latitude }}, {{ profile.location.longitude }});
        addMarker({{ profile.location.latitude }}, {{ profile.location.longitude }});

        {% if is_granted("ROLE_PROFESSIONAL") %}
            {% if app.user.id == profile.id %}
                $(function () {
                    var options = jQuery.extend(fullCalendarOptions, {
                        eventOverlap: false,
                        {% if app.user.type == 'professional' %}
                        {% if app.request.query.get('slice_availability') == '1' %}
                        events: '{{ path('professional_calendar_data', { 'id': app.user.id, 'slice_availability': true }) }}',
                        {% else %}
                        events: '{{ path('professional_calendar_data', { 'id': app.user.id}) }}',
                        {% endif %}
                        {% else %}
                        events: '{{ path('meeting_data') }}',
                        {% endif %}
                    });
                    $('#calendar').fullCalendar(options);
                });
            {% endif %}
        {% else %}
            $(function () {
                var options = jQuery.extend(fullCalendarOptions, {
                    events: '{{ path('professional_calendar_data', { 'id': profile.id, 'slice_availability': true }) }}',
                });
                $('#calendar').fullCalendar(options);
            });
        {% endif %}
    </script>
{% endblock %}