{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}{{ survey.name }}{% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            <div class="row">
                <h1 class="text-center">{{ survey.name }}</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                <div class="col-md-12">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}

                    <div class="survey-description">
                        {{ survey.description|markdown }}
                    </div>

                    <div class="checkbox-radio-survey">
                        {% for choice in choices %}
                            {% if survey.multiple %}
                                <div class="form-group">
                                    <div class="checkbox abc-checkbox abc-checkbox-primary">
                                        <input type="checkbox" class="styled" id="survey_choice_{{ choice.id }}" name="survey_choice[{{ choice.id }}]" value="{{ choice.id }}">
                                        <label for="survey_choice_{{ choice.id }}">{{ choice.description }}</label>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <div class="radio abc-radio abc-radio-primary">
                                        <input type="radio" class="styled" id="survey_choice_{{ choice.id }}" name="survey_choice" value="{{ choice.id }}">
                                        <label for="survey_choice_{{ choice.id }}">{{ choice.description }}</label>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">

    </script>
{% endblock %}