{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}Nouveau sondage - participants{% endblock %}

{% form_theme form '@AppBundle/Resources/views/Form/fields.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/vendor/jquery-ui/jquery-ui.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('app/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('admin/dist/js/collection-form.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Nouveau sondage - participants</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissable">
                        Etape III : il ne reste plus qu'à envoyer ce sondage à tous vos amis !
                    </div>
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $( document ).ready(function() {
            $('#survey_participants_submit').click(function(event) {
                event.preventDefault();

                var participantsTrim = [];
                var participants = $('.participant-element');

                participants.each(function(index1, element1) {
                    var countEqualParticipant = 0;

                    participants.each(function(index2, element2) {
                        if (element1.value === element2.value) {
                            countEqualParticipant++;
                        }
                    });

                    if(countEqualParticipant === 1 && element1.value.trim() !== '') {
                        participantsTrim.push(element1);
                    }
                });

                if(participantsTrim.length < 1) {
                    alert('Il doit y avoir au moins 1 participant');
                }
                else {
                    $('form[name="survey_participants"]').submit();
                }
            });

            $(document).on('keydown.autocomplete', '.participant-element', function() {
                $(this).autocomplete({
                    source: "{{ path('survey_autocomplete_user') }}",
                    minLength: 2,
                    select: function( event, ui ) {
                        if(ui.item){
                            $(this).val(ui.item.key);
                        }
                        else{
                            $(this).val('');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}