{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}Nouveau sondage - participants{% endblock %}

{% form_theme form '@AppBundle/Resources/views/Form/fields.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app/vendor/datepicker/datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/vendor/jquery-ui/jquery-ui.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('app/vendor/datepicker/datepicker.js') }}"></script>
    <script src="{{ asset('app/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('admin/dist/js/collection-form.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            <div class="row">
                <h1 class="text-center">Nouveau sondage - participants</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $( function() {
            $( ".datepicker-merde" ).datepicker();
        } );
    </script>
{% endblock %}