{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}Nouveau sondage - choix{% endblock %}

{% form_theme form '@AppBundle/Resources/views/Form/fields.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/vendor/jquery-ui/jquery-ui.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('app/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('admin/dist/js/collection-form.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            <div class="row">
                <h1 class="text-center">Nouveau sondage - choix</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissable">
                        Etape II : donnez maintenant la liste de tous les choix possibles pour votre sondage.
                    </div>
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $('#survey_choices_choice_submit, #survey_choices_date_submit').click(function(event) {
            event.preventDefault();

            var choicesTrim = [];
            var choices = $('.choice-element');

            choices.each(function(index1, element1) {
                var countEqualChoice = 0;

                choices.each(function(index2, element2) {
                    if (element1.value === element2.value) {
                        countEqualChoice++;
                    }
                });

                if(countEqualChoice === 1 && element1.value.trim() !== '') {
                    choicesTrim.push(element1);
                }
            });

            if(choicesTrim.length < 2) {
                alert('Il doit y avoir au moins 2 choix différents');
            }
            else {
                $('form[name="survey_choices_choice"]').submit();
                $('form[name="survey_choices_date"]').submit();
            }
        });
    </script>
{% endblock %}