{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}{{ survey.name }}{% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('survey_show', { survey: survey.id }) }}">
                        <button type="button" class="btn pull-right">Retour</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">{{ survey.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}