{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}Mes sondages{% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Mes sondages</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Ouvert</th>
                                <th>Multiple</th>
                                <th>Gagnant</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if surveys is not empty %}
                                {% for survey in surveys %}
                                    <tr>
                                        <td>{{ survey.name }}</td>
                                        <td>
                                            {% if survey.type == 'CHOICE' %}
                                                Choix
                                            {% else %}
                                                Dates
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if survey.opened %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if survey.multiple %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if survey.winner != null %}
                                                {{ survey.winner.description|length > 50 ? survey.winner.description|slice(0, 50) ~ '...' : survey.winner.description }}
                                            {% else %}
                                                Pas de gagnant
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('survey_show', { survey: survey.id }) }}">
                                                <button type="button" class="btn btn-info btn-circle"><i class="fa fa-arrow-right"></i></button>
                                            </a>
                                            <a href="{{ path('survey_edit', { survey: survey.id }) }}">
                                                <button type="button" class="btn btn-info btn-circle"><i class="fa fa-pencil"></i></button>
                                            </a>
                                            <a href="{{ path('survey_delete', { survey: survey.id }) }}">
                                                <button type="button" class="btn btn-info btn-circle"><i class="fa fa-times"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6">
                                        <h3 class="text-center">Aucun sondage</h3>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
