{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}{{ survey.name }} - résultats {% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            {% if survey.user == app.user %}
                <div class="row">
                    <a href="{{ path('survey_show', { survey: survey.id }) }}">
                        <button type="button" class="btn pull-right">Retour</button>
                    </a>
                </div>
            {% endif %}
            <div class="row">
                <h1 class="text-center">{{ survey.name }} - résultats</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <br>
                    <div id="canvas-holder" style="width:50%; margin: auto">
                        <canvas id="chart-area" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('app/dist/js/Chart.bundle.min.js') }}"></script>
    <script type="application/javascript">
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        {% for result in results %}
                            {% if result.value > 0 %}
                                {{ result.value|round(2, 'floor') }},
                            {% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for result in results %}
                            {% if result.value > 0 %}
                               '' + getRandomColor() + '',
                            {% endif %}
                        {% endfor %}
                    ],
                    label: 'Résultats du sondage'
                }],
                labels: [
                    {% for result in results %}
                        {% if result.value > 0 %}
                            '{{ result.choice.description|length > 50 ? result.choice.description|slice(0, 50) ~ '...' : result.choice.description }}',
                        {% endif %}
                    {% endfor %}
                ]
            },
            options: {
                responsive: true
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myPie = new Chart(ctx, config);
        };
    </script>
{% endblock %}